.link {
    color: #333;
}

.small-text {
    font-size: 14px;
    letter-spacing: .2px;
}

.medium-text {
    font-size: 18px;
    letter-spacing: .3px;
}

/* title-1 > title-2 > title-3 > title-4*/
.title-1 {
    font-size: 48px;
    letter-spacing: .7px;
}

.title-2 {
    font-size: 38px;
    letter-spacing: .6px;
}

.title-3 {
    font-size: 28px;
    letter-spacing: .5px;
}

.title-4 {
    font-size: 24px;
    letter-spacing: .4px;
}

.title-5 {
    font-size: 20px;
}

@media (min-width: 480px) and (max-width: 767px) {
    .small-text {
        font-size: 13px;
    }

    .medium-text {
        font-size: 16px;
    }

    .title-1 {
        font-size: 40px;
    }

    .title-2 {
        font-size: 31px;
    }

    .title-3 {
        font-size: 25px;
    }

    .title-4 {
        font-size: 20px;
    }

    .title-5 {
        font-size: 19px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .small-text {
        font-size: 12px;
    }

    .medium-text {
        font-size: 15px;
    }

    .title-1 {
        font-size: 34px;
    }

    .title-2 {
        font-size: 28px;
    }

    .title-3 {
        font-size: 23px;
    }

    .title-4 {
        font-size: 19px;
    }

    .title-5 {
        font-size: 18px;
    }
}